<style>
  .row {
    clear: both;
  }

  .left {
    float: left;
  }

  .clear {
    clear: both;
  }

  .draft_piece {
    width: 100px;
  }

  .keep_space {
    width: 100px;
  }

  .board_space {
    width: 100px;
  }
</style>

<%= link_to "New Game", create_game_path %>

<% if @game %>

  <%= form_for @game do |f| %>
    <%= hidden_field_tag :player, "player#{@me.num}" %>
    <%= hidden_field_tag :my_secret, @me.secret %>

    <%= f.radio_button :active_player, :go_first %>Go first

    <%= button_tag "Ready", :type => :button %>
    <%= link_to "Start", join_game_path(:game_code => @game_code, :player_secret => @player_secret) %>

    <%= fields_for :player1 do |p| %>
      <%= p.text_field :crystals, :value => @game.player1.crystals %>
    <% end %>

    <%= fields_for :player2 do |p| %>
      <%= p.text_field :crystals, :value => @game.player2.crystals %>
    <% end %>

    <% @all_piece_klasses.each do |klass| %>
      <div id="draft_<%= klass.to_s.downcase %>" name="<%= klass.to_s %>" class="draft_piece<%= klass < Piece::Nav ? ' nav' : '' %>"><%= klass.to_s %></div>
    <% end %>

    <% 1.upto(2) do |pnum| %>
      <div id="keep_<%= pnum %>" class="clear">
        <% 1.upto(7) do |n| %>
          <div id="keep_<%= pnum %>_<%= n %>" class="keep_space left">
            P<%= pnum %>K<%= n %>
            <% if piece = @game.playernum(pnum).keep[n - 1].piece %>
              <div id='p1_<%= piece.name.downcase %>_1' name='<%= piece.name %>' class='piece player<%= pnum %>'><%= piece.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div>
      <% 7.downto(1) do |row| %>
        <div class="row">
          <% 'a'.upto('g') do |col| %>
            <div class="col left">
              <div id='space_<%= col + '_' + row.to_s %>' class='board_space'>
                <%= col + '_' + row.to_s %>
                <% if piece = @game.board.space(col, row).piece %>
                  <% klass = piece.class %>
                  <div name='<%= piece.name %>' class='player<%= piece.player.num %> piece<%= klass < Piece::Nav ? ' nav' : '' %>">'>
                    P<%= piece.player.num %>: <%= piece.name %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>

<script>
  $(function() {
    var me = function() {
      return $('#player').val();
    }

    var draft = function(player, new_piece, keep_space) {
      // All logic should be server side - this just does stuff.
      new_piece.addClass(player).addClass('piece');
      new_piece.css('left', 0).css('top', 0).draggable();
      $( keep_space )
        .addClass( "ui-state-highlight" )
        .append(new_piece);
    }


    $('.draft_piece, .piece').draggable();
    $( ".keep_space, .board_space" ).droppable({
      drop: function( event, ui ) {
        var piece = $(ui.draggable);
        console.log(piece.attr('name'));
        
        $.ajax('/game/<%= @game_code %>/<%= @player_secret %>/draft/' + piece.attr('name') + '/' + this.id);
        var new_piece = piece.clone();
        draft(me(), new_piece, this); 
      } 
    });

    $( ".board_space" ).droppable({
      
    });
  });
</script>
